html, body, div[role="main"] > *{
	height: 100%;
	width: 100%;
}
.nav-bar{ -webkit-box-shadow: rgba(0, 0, 0, 0.098) 0px 5px 5px; -moz-box-shadow: rgba(0, 0, 0, 0.098) 0px 5px 5px; box-shadow: rgba(0, 0, 0, 0.098) 0px 5px 5px; border-bottom: none; 
	background-color: #111;
	color: #ddd;
}
.nav-bar #reveal {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	-webkit-transform: rotateZ(1deg);
}
.nav-bar #reveal:hover {
	-webkit-transform: rotateZ(180deg);
}
.nav-bar .right {
	float: right;
}

div[role="main"] *{
	font-size: 30px;
	line-height: 30px;
}
div[role="main"] {
	height: 100%;
	width: 90%;
}
div[role="main"] > div .line{
	/*font-family: monospace;*/
}
div[role="main"] > div .line > *{
	margin: 0 0.5em;
	padding: 0 0.2em;
}
div[role="main"] > div .line .OpBits{
	background: blue;
	
}
div[role="main"] > div .line .Drain{
	background: orange;
}
div[role="main"] > div .line .Source{
	background: red;
}
div[role="main"] > div .line .Alu{
	background: limegreen;
}
*/